@import "../npm_modules/balloon-css/src/balloon.css";

.formula {
	font-size: 1.4rem;
}

.illustration-vector {
	font-weight: bold;
}

.illustration-point {
	color: red;
	font-weight: bold;
}

.misc-note {
	padding: 10px;
	margin-right: 2rem;
    max-width: fit-content;

	background-color: lightgray;
	border: solid gray 1px;

    & > p:first-of-type {
        margin-top: 0;
    }

    &::before {
        content: "Megjegyzés:";
        display: block;
        padding: 2px 0;
    }
}

.hover-tip {
    data-balloon-pos: "up";
}